html, body {
    margin: 0;   
}
div, li, p, span, ul, img, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
ol, ul {
    list-style: none;
}
li {
display: list-item;
    text-align: -webkit-match-parent;
}
body, button, input, textarea {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 18px;
}
body {
    -webkit-font-smoothing: antialiased;
    background-color: #fafafa;
}
#react-root, article, div, footer, header, main, nav, section {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    border: 0 solid #000;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    position: relative;
}
article {
    /*background-color: #fff;
    border: 1px solid #e6e6e6;*/
    border-radius: 3px;
    margin-left: -1px;
    margin-right: -1px;
}
textarea {
    /*margin: 0;
    background: 0 0;
    border: 1px;
    border-color: rgb(169, 169, 169);
    color: #262626;
    font-size: inherit;
    outline: none;
    padding: 10px 0 0 0;
    resize: none;*/
    height: 32px;
    max-height: 80px;
    line-height: 18px;
    min-height:18px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #23527c;
  text-decoration: none;
}
a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
._gft4l {
    background-color: #fafafa;
    padding: 0;
}
._evlcw, ._gft4l, ._snde0 ._f4a0g {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
}
._68u16, ._axuw9 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
}
._axuw9 {
    -webkit-flex-basis: 75px;
    -ms-flex-preferred-size: 75px;
    flex-basis: 75px;
}
._8na73 {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.0975);
    height: 77px;
    position: fixed;
    top: 0;
    width: 100%;
    will-change: transform;
    z-index: 1;
    -webkit-transform: translateY(-100%) translateZ(0);
    transform: translateY(-100%) translateZ(0);
}
._kh1g4 {
    -webkit-transform: translateY(0%) translateZ(0);
    transform: translateY(0%) translateZ(0);
}
._8na73, ._kh1g4 {
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
}
._5rnaq {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 77px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 1010px;
    padding: 26px 40px;
    -webkit-transition: height .2s ease-in-out;
    transition: height .2s ease-in-out;
    width: 100%;
}
._iraxg {
    -webkit-box-flex: 1;
    -webkit-flex: 1 9999 0%;
    -ms-flex: 1 9999 0%;
    flex: 1 9999 0%;
    min-width: 40px;
}
._devkn {
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0%;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
._bvwt0, ._qlijk {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 24px;
    white-space: nowrap;
}
._catib {
    margin-right: 12px;
    margin-top: -8px;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}
._8scx2 {
    display: block;
    /*overflow: hidden;
   /* text-indent: 25%;*/
    white-space: nowrap;
}
._5ayw3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    min-width: 125px;
    width: 215px;
}
._ohiyl {
    height: 28px;
}
._b28md:not(:first-child) {
    margin-left: 30px;
}
._3img {
    max-width: 24px;
}
._add_img {
    max-width: 24px;
    margin-left: 2px;
    margin-top: -12px;
}
.cl_bsend {
    cursor: pointer;
    bottom: 0;
    height: 43px;
    right: 10px;
    top: auto;
    background-color: #fff;
    vertical-align: top;
    border: 0;
}
._main {
    background-color: #FBFBFB;
}
._thumb img{
    margin-right: 3px;
    margin-bottom: 3px;
    width: 30%;
}
._owark {
    -webkit-box-flex: 1;
    flex-grow: 1;
    padding-top: 60px;
    margin: 0 auto;
    max-width: 600px;
    position: relative;
    width: 100%;
}
._art_head {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    /*height: 60px;*/
    padding: 12px;
}
._art_head_2 {
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 5px;
    margin-left: -5px;
    color: #000;
    margin-bottom: 4px;
}
._8oo9w {
    margin-top: 10px;
}
._art_foot {
    padding: 0 16px;
}
._cl_aut_fot { 
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 5px;
    margin-left: -5px;
}

._cl_but {
    background-color: #fff;
    border-width: 0;
    margin-left: -6px;
    padding-bottom: 5px;
}
._cl_but_del {
    background-color: #fff;
    border-width: 0;
    align-items: right;
    cursor: pointer;
}

/*._km7ip {
    border-top: 1px solid #efefef;
    color: #999;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: 14px;
    line-height: 18px;
    min-height: 56px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: : 10px;
    padding-right: 35px;
    margin-top: 4px;
}*/

._ti7l3 {
    margin-top: 4px;
}
._km7ip {
    border-top: 1px solid #efefef;
    color: #999;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: 14px;
    line-height: 18px;
    min-height: 56px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px 0;
}
._bilrf {
    background: 0 0;
    border: none;
    color: #262626;
    font-size: inherit;
    outline: none;
    padding: 0;
    resize: none;
    height: 18px;
    min-height: 18px;
}
/*.text {
       width:93%;
}
.text ._bilrf {
       border:0;
       width:99%;
       word-wrap: break-word;
}
.text .comment_text_hidden{
       position: relative;
}
.text #comment_text_hidden{
       visibility:hidden;
       position: absolute;
}*/
._b6i0l {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    position: relative;
}
._b6i0l, ._bilrf {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
._29u45 {
    min-height: 100%;
    overflow: hidden;
}
._3fdmx, ._mainc {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
._o6mpc {
    color: #262626;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    min-width: 0;
}
._mesn5 {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0 auto 30px;
    max-width: 935px;
    width: 100%;
}
._2v79o {
    background-color: #fafafa;
}
._bnq48:first-child {
    margin-left: 0;
}
._bnq48 {
    font-size: 16px;
    margin-right: 40px;
    display: inline;
}
._8fi2q {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
    -ms-flex-order: 4;
    order: 4;
}
._b0acm {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
._qdmzb {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
._j3456 {
    display: block;
    margin-left: auto;
}
._l8yre {
    background-color: #fafafa;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}
._j1234 {
    background-color: #fafafa;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}
._l8yre::after {
    border: 1px solid rgba(0,0,0,.0975);
    border-radius: 50%;
    bottom: 0;
    content: '';
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
}
._ov9ai {
    display: block;
    position: relative;
    /*margin-left: 20px;*/
}
._f2mse {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0%;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
}
._mck9w {
    display: block;
    position: relative;
    width: 100%;
}
._rf3jb {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
._t78yp {
    background: 0 0;
    border-color: #dbdbdb;
    color: #262626;
}
._qv64e {
    -webkit-appearance: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;  
}
._qv64e:active {
    opacity: .7;
}
._l9ml9, ._ncrqg {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    /*margin-left: 20px;*/
}
._ienqf {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
._ienqf, ._rf3jb {
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    min-width: 0;
}
._h9luf {
    margin-bottom: 20px;
}
._1frkc {
    border: 0;
    cursor: pointer;
    height: 100%;
    padding: 0;
    width: 100%;
}
._9bt3u, ._fya1f {
    height: 100%;
    left: 0;
    /*position: absolute;*/
    top: 0;
    width: 100%;
}
._l8al6 {
    display: none!important;
}
._listcoms {overflow:hidden;}
._com {display:inline-block;}
._aut_com {
    float:left;
    margin-bottom: 4px;
}
._form_del {float:right;width:20px;}

._622au {
    padding: 0;
}
._i2o1o {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 10px;
}
._4a6q9 {
    background-color: #fafafa;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    position: relative;
}
._rewi8 {
    height: 100%;
    width: 100%;
}
._pfyik {
    background-color: rgba(0,0,0,.5);
    bottom: 0;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    left: 0;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}
._23gmb {
    bottom: 0;
    left: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 0;
}
._o0j5z {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 100%;
    overflow: auto;
    width: auto;
    z-index: 1;
}
._3g81g {
    max-width: 600px;
}
._3g81g, ._gs38e {
    background: #fff;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 600px;
    -ms-flex: 0 1 600px;
    flex: 0 1 600px;
    min-height: 200px;
}
._784q7 {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: auto;
    max-width: 935px;
    pointer-events: auto;
    /*width: 100%;*/
}
._euzqy, ._gs38e {
    margin: 0 auto;
    width: 600px;
}
._lfwfo {
    background: #fff;
    border-bottom: solid 1px #dbdbdb;
    color: #262626;
    font-size: 16px;
    font-weight: 600;
    padding: 16px;
}
._gs38e {
    display: block;
    overflow-y: scroll;
}
._b9n99 {
    background: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
._6e4x5 {
    border-bottom: solid 1px #efefef;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 8px 16px;
}
._npuc5 {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
._f5wpw, ._npuc5 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
._eryrc {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 70px;
    -ms-flex: 1 1 70px;
    flex: 1 1 70px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 70px;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
._2nunc, ._eryrc {
    -webkit-box-direction: normal;
}
._4tgw8, ._r9b8f {
    padding: 0 8px;
}
._njrw0 {
    cursor: pointer;
}
._gexxb, ._i63ih._gexxb {
    background: #3897f0;
    border-color: #3897f0;
    color: #fff;
}
._dcj9f {
    background: 0 0;
    border: none;
    cursor: pointer;
    height: 36px;
    outline: none;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}
._dcj9f::before {
    color: #fff;
    content: '\00D7';
    display: block;
    font-size: 36px;
    font-weight: 600;
    line-height: 36px;
    padding: 0;
    margin: 0;
}
._j5dqo {
    color: #262626;
    text-align: center;
}
._kwqc3 {
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
._t98z6, ._t98z6:active, ._t98z6:hover, ._t98z6:visited {
    color: inherit;
}
._jzhdd {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0 auto 30px;
    max-width: 935px;
    width: 100%;
}
._fd86t {
    color: #262626;
    font-weight: 600;
}
._70iju {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
._e3il2 {
    background-color: #efefef;
    display: block;
    width: 100%;
}
._4rbun {
    display: block;
    overflow: hidden;
    padding-bottom: 100%;
}
._2di5p, ._si7dy {
    left: 0;
    position: absolute;
    top: 0;
}
._2di5p {
    /*height: 100%;*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
}
._si7dy {
    bottom: 0;
    right: 0;
}
._3fdmx {
    border-bottom: none;
    margin-bottom: 24px;
    padding-bottom: 0;
}
._l9ml9, ._tb97a {
    display: block;
}
._jlcqs {
    height: 60px;
    padding: 6px 10px;
    resize: vertical;
}
._4abhr, ._jlcqs {
    background: 0 0;
    border: 1px solid #efefef;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #262626;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 355px;
    -ms-flex: 0 1 355px;
    flex: 0 1 355px;
    font-size: 16px;
    height: 32px;
    padding: 0 10px;
}
._o716c {
    -webkit-appearance: none;
}
._1ekh3 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: 0;
    margin-left: 10px;
    /*margin-right: -10px;*/
}
.sets {
    display: none;
}
._q8y0e {
    margin-left: 2px;
    margin-top: -12px;
}
._68sh8, ._q8y0e {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 0;
}
._hql7s, ._o2wxh {
    background-color: #fff;
    border-bottom: 1px solid #dbdbdb;
}
._h74gn {
    background: #fff;
    border: none;
    color: #262626;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
    margin: 0;
    overflow: hidden;
    padding: 0 16px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
._28rsa {
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: stretch;
    -webkit-justify-content: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
    margin: 60px auto 0;
    max-width: 500px;
    overflow: hidden;
    width: 100%;
}
._28rsa, ._75z9k {
    -webkit-box-flex: 1;
}
._600rsa {
    max-width: 600px;
}
._75z9k {
    -webkit-flex: 1 1 400px;
    -ms-flex: 1 1 400px;
    flex: 1 1 400px;
    min-width: 50px;
}
._fx423 {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 16px;
    margin-top: 20px;
}
._e1xik {
    margin-bottom: 16px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
._kx10g {
    margin-top: 6px;
    -webkit-flex: 0 0 194px;
    -ms-flex: 0 0 194px;
    flex: 0 0 194px;
}
._kx10g, ._l9ywh {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #262626;
    -webkit-box-flex: 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
}
._cd2n1 {
    color: #262626;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-size: 16px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
._jh9m1 {
    background: 0 0;
    border: 1px solid #efefef;
    border-radius: 3px;
    color: #262626;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 225px;
    -ms-flex: 0 1 225px;
    flex: 0 1 225px;
    font-size: 16px;
    height: 32px;
    padding: 0 10px;
}
._o716c {
    -webkit-appearance: none;
}
._gvhl0 {
    font-size: 20px;
    line-height: 20px;
    margin-top: 15px;
    text-align: center;
}
._gvhl1 {
    margin-top: 30px;
}
._qr7ez {
    margin-top: 16px;
}
._hvr4x {
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
}
._n0dm9 {
    color: #ed4956;
}
._32qhv {
    font-size: 14px;
    line-height: 16px;
}
._kx100 {
    /*width: 65px;*/
    margin-top: 6px;
    font-size: 16px;
    font-weight: 600;
    padding-right: 28px;
}
.-cx-PRIVATE-Page__main {
    margin-top: 80px;
    position: relative;
}
.-cx-PRIVATE-Page__body, .-cx-PRIVATE-Page__main {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}
.-cx-PRIVATE-Page__body, .-cx-PRIVATE-Page__main, .-cx-PRIVATE-Page__root {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.-cx-PRIVATE-ErrorPage__errorContainer {
    text-align: center;
}
._h2err {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    margin: 15px 0;
}
._kc4z2 {
    display: inline;
    font-weight: 600;
}
._p29ma {
    font-size: 10px;
    letter-spacing: .2px;
    color: #999;
    margin-bottom: 5px;
    text-transform: uppercase;
}
._277v9, ._6d44r {
    margin-bottom: 4px;
}
._ha6c6 {
    display: block;
}
.archive {
    color: #999;
}
@media (min-width: 414px){
._cepxb {
    margin: 0 auto;
}
}
@media (min-width: 481px){
._o0j5z::after,
._o0j5z::before {
    content: '';
    display: block;
    -webkit-flex-basis: 40px;
    -ms-flex-preferred-size: 40px;
    flex-basis: 40px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
}
@media (min-width: 640px){
._7g4gl, ._s5vjd {
    margin-bottom: 60px;
}
}
@media (min-width: 640px){
._7g4gl, ._cwgrh, ._nx5in, ._ouv75, ._psd08, ._s5vjd {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    margin-left: -1px;
    margin-right: -1px;
}
}
@media (max-width: 735px){
._s5vjd {
    margin-bottom: 15px;
}
._f2mse {
    margin-right: 3px;
}
._qdmzb {
    height: 77px;
    width: 77px;
}
._j3456 {
    height: 77px;
    width: 77px; 
}
._rf3jb {
    font-size: 22px;
    line-height: 26px;
    margin-right: 15px;
}
._3fdmx {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 30px;
}
._b0acm {
    margin-right: 28px;
}
._tb97a {
    border-bottom: 1px solid #efefef;
    font-size: 14px;
    line-height: 17px;
    /*margin: 0 16px 12px;*/
    overflow: hidden;
    padding-bottom: 24px;
    text-overflow: ellipsis;
}
._o6mpc {
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
._ienqf {
    margin-bottom: 12px;
}
._e1xik {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
._cd2n1 {
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 0 20px;
}
._kx10g, ._l9ywh {
    -webkit-flex-basis: 25px;
    -ms-flex-preferred-size: 25px;
    flex-basis: 25px;
    padding: 0 20px;
}
._gvhl0 {
    text-align: left;
    margin-left: 20px;
}
/*._ldhkl {
    display: none;
}*/
._jh9m1 {
    width: 100%;
}
}
@media (min-width: 736px) {
._mainc {
    margin-bottom: 44px;
}
._o6mpc {
    -webkit-flex-basis: 30px;
    -ms-flex-preferred-size: 30px;
    flex-basis: 30px;
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
}
._mesn5 {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    padding: 60px 20px 0;
    width: calc(100% - 40px);
}
._b0acm {
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-right: 30px;
}
._qdmzb {
    height: 152px;
    width: 152px;
}
._j3456 {
    height: 152px;
    width: 152px; 
}
._rf3jb {
    font-size: 32px;
    line-height: 40px;
    font-weight: 200;
    margin-right: 15px;
}
._r9b8f {
    padding: 0 24px;
}
/*._f2mse {
    margin-right: 28px;
}*/
._ienqf {
    margin-bottom: 20px;
}
._tb97a {
    font-size: 16px;
    line-height: 24px;
}
._j5dqo {
    font-size: 16px;
    line-height: 24px;
   /* margin-top: 56px;*/
    margin-bottom: 44px;
}
._kwqc3 {
    font-size: 32px;
    line-height: 40px;
    padding-bottom: 13px;
}
._jzhdd {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    padding: 60px 20px 0 20px;
    width: calc(100% - 40px);
}
._70iju {
    margin-bottom: 28px;
}
._hql7s, ._o2wxh {
    min-width: 510px;
}
._e1xik {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
._kx10g, ._l9ywh {
    padding-right: 26px;
    text-align: right;
}
._kx10g {
    padding-left: 26px;
}
._cd2n1 {
    -webkit-flex-basis: 355px;
    -ms-flex-preferred-size: 355px;
    flex-basis: 355px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-right: 60px;
}
._addft {
    height: 152px;
    width: 152px;
}
._6g6t5 {
    /*font-size: 15px;*/
    line-height: 18px;
}
}
@media (min-width: 791px) {
._thumb img{
    margin-right: 22px;
    margin-bottom: 20px;
    width: 30%;
}
}