{% extends 'base.html' %}
{% block main %}
<section class="_sq4bv _29u45">
<main class="_main">
<div>
  <div class="_owark" id="articles">
  {% for img in images %}
  <article class="_s5vjd _622au _5lms4 _8n9ix" >
      <header class="_art_head">
        <a class="_4a6q9 _i2o1o _gvoze" href="{{ url_for('.user', username=img.author.name) }}" style="width: 30px;height: 30px;">
        <img class="_rewi8" src="{{ resize_url + img.author.avatar }}"></a>
          <div>
          <a class="_art_head_2" href="{{ url_for('.user', username=img.author.name) }}">{{ img.author.name }}</a>
          <div>{{ img.title }}</div>
          </div>
          {% if session['username'] == img.author.name %}
            <div class="_del_post">
              <div class="_com _form_del">
                <button class="_post_but_del" value="{{ img._id }}" title="Удалить публикацию"><img src="/static/ico/_dcom.png"></button>
              </div>
            </div>
          {% endif %}
      </header>
      <div><img src="{{ resize_url + img.path }}" width="600px"></div>
  <div class="_art_foot">
    {% if session['username'] in img.liked_users %}
      <button class="_cl_but" value="{{ img._id }}"><img src="/static/ico/heart_red.png"></button>
    {% else %}
      <button class="_cl_but" value="{{ img._id }}"><img src="/static/ico/heart_white.png"></button>
    {% endif %}
    {% if img.liked_users %}
      <span class="_like">Нравится: <span class="_likecount">{{ img.liked_users | length }}</span></span>
    {% endif %}
    <div class="_com _aut_com">
    {% if img.description or img.tags %}
      <span><a class="_art_head_2" href="{{ url_for('.user', username=img.author.name) }}">{{ img.author.name }}</a> {{ img.description }}
    {% endif %}
        {% for tag in img.tags %}
          <span><a href="{{ url_for('.explore', tag=tag) }}">{{ tag }}</a></span>
        {% endfor %}
      </span>
    </div>
    <div>
      <div class="_listcoms">
      {% for com_dict in img.comments %}
        {% for username, comment in com_dict.items() %}
          <div class="_hdiv _com _aut_com"><a class="_art_head_2" href="{{ url_for('.user', username=username) }}">{{ username }}</a>
            <span>{{ comment }}</span>
            {% if session['username'] == img.author.name or session['username'] ==  username %}
              <div class="_com _form_del">
                <button class="_com_but_del" value="{{ comment }}" title="Удалить комментарий"><img src="/static/ico/_dcom.png"></button>
              </div>
            {% endif %}
          </div>
        {% endfor %}
      {% endfor %}
      </div>
    </div>
    <div class="_ha6c6 _6d44r">
    <time class="_p29ma _6g6t5" title="{{img.created_time | datetime}}"> 
    {{moment(img.created_time).fromNow(refresh = True)}}</time></div>
    <section class="_km7ip _ti7l3">
      <form class="_b6i0l">
        <textarea class="_bilrf" placeholder="Добавьте комментарий..."></textarea>
        <input type="button" class="_cl_bsend" value="Send">
      </form>
    </section>
  </div>
  </article>
  {% endfor %}
  </div>
  <div id="loader"><img src="/static/ico/animation.gif"></div>
</div>
</main>
</section>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}