{% extends 'base.html' %}
{% block main %}
<section class="_29u45">
  <main class="_8fi2q _2v79o">
    <article class="_jzhdd">
    {% if tag %}
      <header class="_j5dqo">
        <h1 class="_kwqc3" id="tag">{{ tag }}</h1>
        <span class="_t98z6">
         <span class="_fd86t">
          {% with total = images.count() %}
            {{ total }}</span> публикаци{% if 10 < total < 21 or total %10 in (5,6,7,8,9,0) %}й{% elif total %10 in (2,3,4) %}и{% else %}я{% endif %}
          {% endwith %}</span>
      </header>
    {% endif %}
  {% block images %}
      <div>
        <div class="col" id="ph123">
          {% for img in images %}
          <div class="img-container">
            <a href="{{ url_for('.detail', _id=img._id) }}">
            <img src="{{ resize_url + img.path }}"></a>
          </div>
          {% endfor %}
        </div>
      </div>
  {% endblock %} 
    </article>
  </main>
</section>
<script src="{{ url_for('static', filename='js/scroll.js') }}"></script>
{% endblock %}