{% extends 'explore.html' %}
{% block main %}
<section class="_29u45">
  <main class="_8fi2q _2v79o">
    <article class="_mesn5">
      <header class=" _3fdmx">
        <div class="_b0acm">
          <div class="_l8yre _qdmzb">
          {% for data in userdata %}
            {% if data.name == session['username'] %}
            <button id="_menu" class="_1frkc" title="Изменить фото профиля" onclick="$('#up').click()"><img alt="Изменить фото профиля" class="_fya1f" src="{{ config['UPLOAD_URL'] + data.avatar }}" ></button>
            <div>
              <form method="POST" enctype="multipart/form-data">
                <input type="file" name="upload" class="_l8al6" id="up" onchange="$('#save').click()">
                <input type="submit" value="Save" name="avatar" id="save">
              </form>
            </div>
            {% else %}
              <img class="_9bt3u" src="{{ config['UPLOAD_URL'] + data.avatar }}">
            {% endif %}
          </div>
        </div>
        <div class="_o6mpc">
          <div class="_ienqf">
            <h1 class="_rf3jb" title="{{ data.name }}">{{ data.name }}</h1>
            <span class="_ov9ai">
                {% if data.name == session['username'] %}
                  <a class="_l9ml9" href="{{ url_for('.edit_account') }}"><button class="_qv64e _t78yp _r9b8f _njrw0" name="edit">Редактировать профиль</button></a>
                {% else %} 
                <form method="POST">
                  {% if session['username'] in data.followers %}
                    <input class="_qv64e _t78yp _r9b8f _njrw0" name="follow" type="submit" value='Подпиcки'>
                  {% else %}
                    <input class="_qv64e _t78yp _r9b8f _njrw0" name="follow" type="submit" value='Подписаться'>
                  {% endif %}
                {% endif %}
                </form>
            </span>
          {% if data.name == session['username'] %}
            <div class="_1ekh3">
              <button class="_q8y0e _8scx2"><img class="_3img" src="{{ url_for('static', filename='ico/_set.png') }}"></button>
            </div>
            <div class="_1ekh3">
              <a href="{{ url_for('.add_post') }}"><img class="_add_img" src="{{ url_for('static', filename='ico/_add.png') }}" title="Добавить фото"></a>
            </div>
          {% endif %}
          </div>
          <ul class="_h9luf">
            <li class="_bnq48">
            <span>{{ user_image_count }} публикаци{% if 10 < user_image_count < 21 or user_image_count %10 in (5,6,7,8,9,0) %}й{% elif user_image_count %10 in (2,3,4) %}и{% else %}я{% endif %}</span>
            </li>
            <li class="_bnq48"><a href="{{ url_for('.user_followers', username=data.name) }}"><span class="_fd86t">
            {% with total = data.followers | length %}
            {{ total }}</span> подписчик{% if 10 < total < 21 or total %10 in (5,6,7,8,9,0) %}ов{% elif total %10 in (2,3,4) %}а{% endif %}
            {% endwith %}</a></li>
            <li class="_bnq48"><a href="{{ url_for('.user_following', username=data.name) }}">Подписки: <span class="_fd86t">{{ data.following | length }}</span></a></li>
          </ul>
          <div class="_tb97a"><h2 class="_kc4z2">{{ data.fio }}</h2></div>
          {% endfor %}
        </div>
      </header>
    {% block images %}
      {{ super() }}
    {% endblock %}
    </article>
  </main>
</section>

<div id="_m_sets" class="sets">
<div data-reactroot="">
<div tabindex="0"></div>
<div>
<div class="_pfyik" role="dialog">
<div class="_23gmb"></div>
<div class="_o0j5z">
<div class="_784q7">
<ul class="_cepxb" role="menu">
<li class="_o2wxh"><a href="{{ url_for('.change_password') }}"><button class="_h74gn">Сменить пароль</button></a></li>
<li class="_o2wxh"><a href="{{ url_for('.logout') }}"><button class="_h74gn">Выйти</button></a></li>
<li class="_o2wxh"><button class="_h74gn">Отмена</button></li>
</ul>
</div></div>
<button class="_dcj9f">Закрыть</button>
</div></div>
<div tabindex="0"></div>
</div></div>
<script src="{{ url_for('static', filename='js/784q7.js') }}"></script>
<script src="{{ url_for('static', filename='js/scroll.js') }}"></script>
{% endblock %}